{{!-- About page --}}
<div id="about" class="container-fluid bg-primary d-flex justify-content-center">
  
  <div class="d-flex flex-row w-100 justify-content-center pt-5">
     <div class="d-flex flex-column w-50 p-5">
      <p class="fs-5 text text-dark">
        {{{ques1}}}
        </p>
   
      <p class="fs-6 text text-dark">
        {{{ans1}}}
        </p>
    </div>

   <div class="d-flex flex-column w-50 p-5">
      <p class="fs-5 text text-dark">
        {{{ques2}}}
        </p>
   
      <p class="fs-6 text text-dark">
        {{{ans2}}}
        </p>
    </div>

  </div>

</div>